   <div class="container">

        <!-- Portfolio Item Heading -->
       
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{id.head}}
                    <!--<small>{{id.head}}</small>-->
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{id.url}}" alt="" style="width:700 height:300">
            </div>

            <div class="col-md-4">
                <h3>{{id.subheading}}</h3>
                <p>{{id.body}}</p>
                <h3>Advantages</h3>
                <ul>
                    <li>best price</li>
                    <li>Attractive offer</li>
                    <li>No competitors</li>
                    <li>Unique opportunity</li>
                </ul>
            </div>

        </div>
     
     
        <!-- /.row -->

        <!-- Related Projects Row -->
       <!-- <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>-->
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <!--<footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>-->
            <!-- /.row -->
       <!-- </footer>-->