   <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{id.head}} for: {{id.price}}
                    <small style="float:right">contact: {{id.gsm}}, email: {{id.email}}</small>
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-5">
                <img class="img-responsive" src="{{id.url}}" alt="" style="width:700 height:300; border:1px solid;border-radius:10%" >
            </div>

            <div class="col-md-7" style="color:black;  ">
                <h3>{{id.subheading}}</h3>
                <p>{{id.body}}</p>


                 <h4>Published By: <a href="#/announ-on-user/{{id.currentUserId}}" style="color:darkslategray">{{id.userName}}</a></h4>

            </div>
        </div>
        <div style="float:right; margin-top: -10px;">
 <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&width=86&height=20&appId" width="86" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        <hr>
