   <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{id.head}} {{id.price}}
                    <small style="float:right">contact: {{id.gsm}}</small>
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{id.url}}" alt="" style="width:700 height:300">
            </div>

            <div class="col-md-4">
                <h3>{{id.subheading}}</h3>
                <p>{{id.body}}</p>
                <h3>Advantages</h3>
                <ul>
                    <li>best price</li>
                    <li>Attractive offer</li>
                    <li>No competitors</li>
                    <li>Unique opportunity</li>
                </ul>
            </div>

        </div>
        <div style="float:right; margin-top: -10px;">
 <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&width=86&height=20&appId" width="86" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        <hr>
