   <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ad.head}} {{ad.price}}
                    <small style="float:right">contact: {{ad.gsm}}, email: {{ad.email}}</small>
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{ad.url}}" alt="" style="width:700 height:300">
            </div>

            <div class="col-md-4">
                <h3>{{ad.subheading}}</h3>
                <p>{{ad.body}}</p>
                 <h4>Published By: <a href="#/announ-on-user/{{ad.currentUserId}}" style="color:darkslategray">{{ad.userName}}</a></h4>
                 <a class="btn btn-primary" href="#/leaveamsg/{{ad.id}}/{{category}}">Leave A Message</a>
            </div>
        </div>
        <div style="float:right; margin-top: -10px;">
 <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&width=86&height=20&appId" width="86" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        <hr>
