<div>
    <div class="form-area chats">
        {{#msgs}}
        <div class="row">
            {{#if isCurrentUser}}
            <div class="col-md-4 col-md-offset-4">
                {{msg}}
                <span style="display:block; font:8px;">{{time}}</span>
            </div>
            {{else}}
            <div class="col-md-4 sender">
                {{from}} : {{msg}}
                <span style="display:block; font:8px;">{{time}}</span>
            </div>
            {{/if}}
        </div>
        {{/msgs}}
    </div>
</div>