 <div class="container">
        <div class="row">
            <div class="col-lg-12">
                  <img class="slide-image" src="../../assets/img/image_5.png" alt="" style="width: 1150px; height: 300px" >
                <h1 class="page-header">Sale pets
                    <small>Announcement</small>
                </h1>
            </div>
        </div>
         {{#items}}
        <div class="row">
            <div class="col-md-7">
                <a href="#/pets/announcement/{{id}}" id="{{id}}" name="asd">
                    <img class="img-responsive" src="{{url}}" alt="" style="width: 700px; height: 300px">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{head}}</h3>
                <h4>{{subheading}}</h4>
                <strong style="color:indigo;  font-size: 100%;" >Price: </strong>
                <h3 style="display:inline-block">{{price}}</h3>
                <p>{{body}}</p>
                <a class="btn btn-primary" href="#/pets/announcement/{{id}}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            <h3>Mobile number: {{gsm}}</h3>
            </div>
        </div>
        <hr>
   {{/items}}
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#/pets/1">1</a>
                    </li>
                    <li>
                        <a href="#/pets/2">2</a>
                    </li>
                    <li>
                        <a href="#/pets/3">3</a>
                    </li>
                    <li>
                        <a href="#/pets/4">4</a>
                    </li>
                    <li>
                        <a href="#/pets/5">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>