  <div class="container">
 <div class="row">
            <div class="col-md-3">
                <p class="lead">Category</p>
                <div class="list-group" style="opacity: 0.8">
                    <a href="#/homes/1" class="list-group-item">Homes</a>
                    <a href="#/cars/1" class="list-group-item">Cars</a>
                    <a href="#/pets/1" class="list-group-item">Pets</a>
                </div>
            </div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm" style="width:140%">
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <h4>User: {{items.user.displayName}}</h4>
                            <i class="glyphicon glyphicon-envelope"></i> {{items.user.email}}
                            <br />
                            <h4>My announcement:</h4>
                              {{#if items.items}}{{#items.items}}
        <div class="row" style="    margin-right:-200px;">
            <div class="col-md-5">
                <a href="#/{{category}}/announcement/{{id}}" id="{{id}}" name="asd">
                    <img class="img-responsive" src="{{url}}" alt="" style="width: 300px;height: 200px;"> {{!--style="width: 700px; height: 300px">--}}
                </a>
            </div>
            <div class="col-md-7" style="word-wrap: break-word;margin-top: -22px;">
                <h3>{{head}}</h3>
                <h4>{{subheading}}</h4>
                <strong style="color:indigo;  font-size: 100%;" >Price: </strong>
                <h3>{{price}}</h3>
                <p style="height:20px; width:300px; text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{body}}</p>
                <a class="btn btn-primary" href="#/{{category}}/announcement/{{id}}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            <h4>Contact: {{gsm}}</h4>
            </div>
            <form action="#/deleteAnnouncement/{{id}}" method="POST"><button style="float: right;">Delete this announcement</button></form>
        </div>
        <hr style="border: 1px solid darkblue;width: 152%;">
        {{/items.items}}
  {{else}}<a href="#/publicannoun"><h3>You have not published announcement yet</h3></a> {{/if}}

                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>
   <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="prev" style="cursor: pointer">
                        <a>&laquo;</a>
                    </li>
                    <li>
                        <a href="#/user-account/1">1</a>
                    </li>
                    <li class="next" style="cursor: pointer">
                        <a>&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
                <hr>
    </div>
